@import "tailwindcss";

:root {
  --background: #e3d8d8;
  --foreground: #491f1f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Abril, Helvetica, sans-serif;
}
