.input_box {
    background-color: azure;
}

.container {
    width: 80%;
    background-color: #D3BFBF;
    padding: 15px;
    margin: 16px;
}

.search-results {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
}

.results-item {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.results-item:hover {
  background-color: #f5f5f5;
}